* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    
    background-color: #4d2689;
}

#wrapper {
    flex-grow: 1;
    padding: 40px 60px;
    
    background-color: white;
    width: 896px;
}